* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border
}
body{
    background-color: lightpink;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
}
.container { 
    width: 320px; 
    background: rgb(102, 181, 207); 
    padding: 20px; 
    padding-left: 20px;
    margin: 10px;
    border-radius: 15px; 
    box-shadow: 10 10px 10px rgba(0, 0, 0, 0.2); 
    text-align: center; 
}
h2 { 
    margin-bottom: 10px; 
    color: lightcyan; 
}
.balance { 
    font-size: 20px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 15px; 
}
.summary {
    display: flex; 
    justify-content: space-between; 
    padding: 10px; 
    background: #f1f1f1; 
    border-radius: 10px; 
    margin-bottom: 15px; 
    }
input, select, button { 
    width: 100%; 
    padding: 10px; 
    margin: 8px 0; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    }
input, select { 
    background: #f9f9f9;
    }
button { 
    background: #ff6b6b; 
    color: white; 
    cursor: pointer;
    font-weight: bold; }
button:hover { 
    background: #e63946; 
}
ul { 
    list-style: none; 
    padding: 0; 
}
li { 
    display: flex; 
    justify-content: space-between; 
    background: white; 
    padding: 8px 12px; 
    margin: 5px 0; 
    border-radius: 5px; 
    border-left: 5px solid; }
.income { 
    border-color: green; 
    color: green;
}
.expense { 
    border-color: red; 
    color: red; 
}
 
   